################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FavoriteHero/DesignTimeBuild/.dtbcache.v2
