################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FavoriteHero/DesignTimeBuild/.dtbcache.v2
/obj/Debug/netcoreapp3.1/FavoriteHero.csprojAssemblyReference.cache
