<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PublicKey" value ="5a70b673464e3e4a65f6b8e485575bef"/>
    <add key ="PrivateKey" value ="43a929f6eff754bea68f0fdd9b990dcbc4ecd4ed"/>
    <add key="BASE_URL" value="http://gateway.marvel.com/v1/public"/>
  </appSettings>
</configuration>