@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <br>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Hero"><b><h2>Check my favorite ComicHero</h2></b></a>
    </div>
</body>




